.Card {
  background-color: lightgrey;
  font-size: 12px;
  padding: 20px;
  margin-bottom: 10px;
}

.Swimlane-column.grey .Card {
  background-color: rgba(167, 158, 158, 0.671);
  color: black;
}

.Swimlane-column.blue .Card {
  background-color: skyblue;
  color: white;
}

.Swimlane-column.green .Card {
  background-color: rgb(150, 190, 150);
  color: white;
}

.Card-title {
  font-weight: bold;
}
